/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/
    .logo {
        font-size: 25px;
    }
	.menu ul li a {
       padding: 0 !important;
}
	.btn_dd {
       padding: 5px 15px;
       width: 230px;
}
  .s_icon {
    margin: 10px 10px;
}
	.btn_dd[data-bs-popper] {
    top: -5px;
    left: 35px;
}

	/*header end*/
	/*banner start*/
	.slider {
        margin: 120px 0 100px;
}
	.b_h2 {
        font-size: 30px;
        text-align: center;
    .btn_load {
    	width: 140px;
    }
}
	/*banner end*/
	/*welcome start*/
	.wel_p {
       padding: 40px 0 55px;
}
	.border-container{
             margin: 25px auto;
	}
	.border-icon {
        left: 120px;
    }
	.bor_text a {
        padding: 10px 94px;
    }
    .bor_s {
        margin: 8px 102px;
        width: 50px;
    }
    
	/*welcome end*/
   /*about us start*/
	.about {
       margin: 50px 0;
}
	.ab_text {
        padding-top: 30px;
}
	/*about us end*/
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
	.logo {
        font-size: 28px;
}
	.menu ul li a {
    padding: 5px 0px 0 !important;
}
	.btn_dd {
        padding: 5px 15px;
        width: 300px;
}
	.btn_dd[data-bs-popper] {
        top: -10px;
        left: 60px;
}
	/*header end*/
	/*banner start*/
	.slider {
        margin: 170px 0 100px;
}
	.b_h2 {
        font-size: 45px;
}
	/*banner end*/
	/*welcome start*/
	.wel_p {
       padding: 40px 0 55px;
}
	.border-container{
             margin: 25px auto;
	}
	.bor_text a {
        padding: 10px 68px;
    }
    .bor_s {
        margin: 8px 77px;
        width: 55px;
    }
	/*welcome end*/
	/*about us start*/
	.about {
       margin: 50px 0;
}
	.ab_text {
        padding-top: 30px;
}
	/*about us end*/
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.menu ul li a {
    padding: 10px 15px 0 !important;
}
	.btn_dd[data-bs-popper] {
    top: -10px;
    left: 60px;
}
	/*header end*/
	/*welcome start*/
	.border-icon {
        left: 51px;
    }
    .bor_s {
    margin: 8px 35px;
    width: 50px;
}
.bor_text a {
    padding: 0px 22px;
}
	/*welcome end*/

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
 /*welcome start*/
 .border-icon {
    left: 82px;
}
.bor_s {
    margin: 8px 60px;
    width: 55px;
}
.bor_text a {
    padding: 10px 54px;
}
/*welcome end*/	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px){
	.border_icon{
		left: 97px;
	}
}

/* Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px){
	/*banner start*/
	.b_h2 {
    font-size: 60px;
}

	/*banner end*/

	/*welcome start*/
	.border-icon {
          left: 125px;
}

    .bor_s {
        margin: 8px 104px;
        width: 55px;
    }
    .bor_text a {
        padding: 10px 98px;
}
	/*welcome end*/
	/*about us start*/
	.p_cm {
       padding: 43px 0;
   }
	/*about us end*/
}